<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saubantiago.personalmedicaldiary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Patient Profile Screens -->
        <activity
            android:name=".activities.profile.PatientProfileDetailsActivity"
            android:label="Patient Profile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.profile.PatientProfileEditActivity"
            android:label="Edit Patient Profile"
            android:parentActivityName=".activities.profile.PatientProfileDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saubantiago.personalmedicaldiary.activities.profile.PatientProfileDetailsActivity" />
        </activity>

        <!-- Caregiver Screens -->
        <activity
            android:label="Caregiver Information"
            android:name=".activities.caregiver.CaregiverDetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saubantiago.personalmedicaldiary.activities.caregiver.CaregiverDetailsActivity" />
        </activity>
        <activity
            android:label="Edit Caregiver Information"
            android:name=".activities.caregiver.CaregiverEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saubantiago.personalmedicaldiary.activities.profile.PatientProfileDetailsActivity" />
        </activity>

        <!-- TODO main activity can be the splash or dashboard screen -->
        <activity android:name=".MainActivity" />
    </application>

</manifest>